
/* Typography
   ==================== */


/* Titles */
.title {
	&-1 {
		@include font(54, 56, -1.9, 900);
	}

	&-2 {
		@include font(44, 48, -1.23, 800);
	}

	&-3 {
		@include font(36, 48, 0.11, 700);
	}

	&-4 { @include font(30, 36, -0.6, 800); }

	// Desktop sizes
	@include mq-min(768) {
		&-1 { @include font(74, 88, -2.2, 900); }

		&-2 { @include font(62, 68, -1.94, 800); }

		&-3 { @include font(44, 52, -0.24, 800); }
		
		&-4 { @include font(36, 40, -0.7, 800); }
	
		&-5 {
			@include font(32, 36, -0.2, 800);

			&.title-light {
				@include font(32, 36, -0.22, 400);
			}
		}
	}
}

h4 { @extend .title-4; }



/* Subtitles */
.subtitle {
	@include font(13, 20, 0.5, 400, $family: $font__secondary);

	// Desktop sizes
	@include mq-min(768) {
		@include font(14, 24, 0.2, 400);
	}
}



/* Body */
.body {
	@include font(20, 32, 0.2, 400);

	&-large { @include font(24, 32, 0, 400); }
	
	&-small { @include font(18, 32, -0.1, 400); }

	&-smaller { @include font(14, 20, 0.1, 400); }

	&-heavy {
		font-weight: 600;
	}

	// Desktop sizes
	@include mq-min(768) {
		@include font(22, 40, 0, 400);

		&-large { @include font(26, 40, 0); }
		
		&-small { @include font(20, 36, 0); }

		&-smaller { @include font(16, 24, 0.2); }
	}
}

p { @extend .body; }



/* Links */
.link {
	@include font(16, 24, 0.18, 600);

	&-small {
		@extend .body-small;
		text-decoration: underline;

		&:hover { opacity: .7; }
	}

	&-large {
		@include font(18, 24, 0.16, 400);
		text-decoration: underline;

		&:hover { opacity: .7; }
	}

	// Desktop sizes
	@include mq-min(768) {
		@include font(18, 24, 0.2, 600);

		&-large { @include font(26, 40, 0); }
	}
}

p a {
	text-decoration: underline;
	// text-decoration-color: $color__accent;

	&:active {
		color: $color__accent;
	}

	@include mq-min(768) {
		&:hover {
			color: $color__accent;
		}
	}
}

a.subtitle {
	text-decoration: underline;

	&:hover {
		opacity: .7;
	}
}


/* Other Elements */
time {
	@extend .subtitle;
	display: block;
}

figcaption {
	@extend .body-smaller;
	color: $color__text-secondary;
}



/* Text Selection */

/* Mozilla based browsers */
::-moz-selection {
	background-color: transparentize($color__accent, .94);
	color: #2A02E2;
}

/* Works in Safari */
::selection {
	background-color: transparentize($color__accent, .94);
	color: #2A02E2;
}