

/** 
 * Base:
 * Typography
 */


// Titles
.title {
	&-1 { @include font(56, 64, -1, $regular); }
	
	&-2 { @include font(40, 48, -0.06, $regular); }
	
	&-3 { @include font(32, 40, -0.1, $medium); }
	
	&-4 { @include font(26, 32, -0.16, $medium); }
}



// Body
.body {
	@include font(22, 36, 0.1, $regular);

	&-large { @include font(26, 36, 0.08, $regular); }
	
	&-small { @include font(18, 24, -0.2, $regular); }

	&-serif {
		@include font(23, 32, -0.06, $regular, $font-serif);

		a {
			font-weight: $regular;
			text-decoration: underline;
			transition: all 60ms;

			&:hover {
				opacity: .6;
			}
		}
	}
	
	a { @extend .link; }
}

p { @extend .body; }



// Links
.link {
	color: get-color(brand, main);
	text-decoration: underline;
	text-decoration-color: transparentize(get-color(brand, main), .8);
	transition: all 120ms;

	&-nav {
		@include font(13, 16, 0.7, $medium);
		text-transform: uppercase;
	}

	&:hover { text-decoration-color: get-color(brand, main); }
}


// Other Elements
time {
	@extend .body-small;
	display: block;
}

figcaption {
	@include font(14, 16, 0.06, $regular);
}

pre,
code {
	@include font(14, 24, 0, $regular, $font-code);
}

li a {
	@extend .link;
}


// Text Selection
::-moz-selection {
	background-color: transparentize(get-color(brand, main), .94);
	color: #2A02E2;
}
::selection {
	background-color: transparentize(get-color(brand, main), .94);
	color: #2A02E2;
}