/** 
 * Base:
 * Typography
 */

// Titles
.title {
  &-1 {
    @include font(40, 48, -0.1, $regular);
  }

  &-2 {
    @include font(28, 40, 0, $medium);
  }

  &-3 {
    @include font(22, 32, 0, $regular);
  }

  &-4 {
    @include font(22, 32, 0, $regular);
  }

  @include mq-after(medium) {
    &-1 {
      @include font(46, 56, 0, $regular);
    }

    &-2 {
      @include font(32, 44, 0.2, $medium);
    }

    &-3 {
      @include font(32, 56, 0.04, $regular);
    }

    &-4 {
      @include font(24, 32, 0, $regular);
    }
  }
}

// Body
.body {
  @include font(18, 32, 0, $regular);

  &-small {
    @include font(16, 28, 0, $regular);
  }

  &-serif {
    @include font(16, 32, 0, $regular, $font-serif);
  }

  @include mq-after(medium) {
    @include font(18, 32, 0.01, $regular);

    &-small {
      @include font(16, 28, 0.08, $regular);
    }
  }
}

p {
  @extend .body;
}

.link {
  text-decoration: underline;

  &:hover {
    opacity: .5;
  }
}

// Text Button
.button-text {
  @include font(13, 16, 0.7, $medium);
  text-transform: uppercase;
  padding-bottom: 1px;
  border-bottom: 2px solid transparentize(get-color(text, primary), 0.9);
  transition: all 120ms;

  &:hover {
    color: get-color(brand, main);
    border-color: transparentize(get-color(brand, main), 0.8);
  }

  @include mq-after(medium) {
    @include font(14, 16, 0.7, $semi);
  }
}

// Other Elements
time {
  @extend .body-small;
  font-style: italic;
  display: block;
}

figcaption {
  @include font(14, 16, 0.06, $regular);
}

pre,
code {
  @include font(14, 24, 0, $regular, $font-code);
}

strong {
  font-weight: $bold;
}

li {
  @extend .body;
}

.navigation-link {
  @include font(16, 20, 0.18, $regular);

  @include mq-min(900) {
    @include font(18, 20, 0.2, $regular);
  }
}

// Text Selection
::-moz-selection {
  background-color: transparentize(get-color(brand, main), 0.94);
  color: #2a02e2;
}
::selection {
  background-color: transparentize(get-color(brand, main), 0.94);
  color: #2a02e2;
}
