
$color__background-body : #FFF;
$color__accent          : #0C3EFF;
$color__text-dark       : #1B1B1B;
$color__text-secondary  : #6A6A6A;

$font__main             : 'Inter UI', Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font__secondary        : 'Space Mono', monospace;