
//
// Sets project variables
//


// Typography
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;

$font-main: "Inter", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-serif: "Crimson Text", serif;


// Colors
@function get-color($main, $variation: null, $palette: null) {
  @if $palette == null {
    $palette: $colors;
  }

  @if $variation {
    @return map-get(map-get($palette, $main), $variation);
  } @else {
    @return map-get($palette, $main);
  }
}

$colors: (
  basic: (
    white: #FFF,
    black: #000
  ),

  brand: (
    main: #2A02E2
  ),

  text: (
    primary: #0E0926,
    secondary: #6A6A6A
  ),

  borders: (
    primary: #F0F0F0
  )
);