
$color__background-body : #FFF;
$color__accent          : #2A02E2;
$color__text-dark       : #0E0926;
$color__text-secondary  : #6A6A6A;

$font__main             : 'Inter UI', Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font__secondary        : 'Space Mono', monospace;