<footer class="footer-main">
  <div class="container grid-2">
    <a href="mailto:hello@byvasco.com" class="body">hello@byvasco.com</a>

    <ul class="social-links">
      <li><a href="https://dribbble.com/byvasco" target="_blank" class="body">Dribbble</a></li>
      <li><a href="https://medium.com/@byvasco" target="_blank" class="body">Medium</a></li>
      <li><a href="https://www.instagram.com/byvasco/" target="_blank" class="body">Instagram</a></li>
      <li><a href="https://github.com/vascomarques" target="_blank" class="body">Github</a></li>
    </ul>
  </div>
</footer>