/** 
 * Component:
 * Article Preview
 */

.article-preview {
  .article-date {
    margin-bottom: 8px;
  }

  &:hover {
    opacity: .7;
  }

  @include mq-before(small) {
    .article-title {
      margin-bottom: 8px;
    }
  }
}