

/** 
 * Layout:
 * Containers
 */


// Main container
.container {
  width: 100%;
  max-width: calc(1300px + 120px);
  padding: 0 60px;
  margin: auto;
  position: relative;

  &-narrow {
    @extend .container;
    max-width: calc(635px + 120px);
  }
}


// Grids structure
.grid {
  display: grid;
  grid-gap: 30px;
  
  &-2 {
    @extend .grid;
    grid-template-columns: repeat(2, 1fr);
  }
}