

/** 
 * Layout:
 * Header
 */


// Main Footer
.header-main {
  padding: 120px 0;

  .header-navigation {
    align-self: center;
  }

  .logo {
    justify-self: end;
  }

  .link-nav {
    position: relative;
    
    &:after {
      content: '';
      display: block;
      @include wh(24px);
      @include background('icons/icon-pointer.svg', $size: 100%);
      @include pos-abs(26px, $left: 50%);
      opacity: 0;
      transition: all 120ms;
      transform: rotate(-90deg) translateY(-50%);
    }

    &:hover {
      color: get-color(brand, main);
      
      &:after {
        opacity: 1;
        top: 24px;
      }
    }
  }
}