
/* Headers
   ==================== */

/* Header - Main */
.header-main {
  padding: 60px 0;
  
  .articles-count {
    position: relative;
    top: -8px;
    padding-left: 4px;
  }

  .current {
    color: $color__accent;
    position: relative;

    &::after {
      content: '';
      display: block;
      @include wh(4);
      background-color: $color__accent;
      position: absolute;
      left: calc(50% - 2px);
      bottom: -14px;
    }
  }

  @include mq-min(768) {
    // padding: 160px 0;
    @include flex();
    height: 40vh;
    max-height: 400px;
    padding: 0;

    .nav-main a {
      margin-left: 100px;
    }
  }
}


.header-page {

  @include mq-min(768) {
    margin-bottom: 200px;
    
    // .page-title {
    //   position: absolute;
    //   left: 10px;
    //   top: 0;
    //   transform: rotate(-180deg);
    //   writing-mode: vertical-lr;
    // }
  }
}