

/** 
 * Layout:
 * Header
 */


// Main Header
.header-main {
  padding: 80px 0;

  .header-navigation {
    justify-self: end;
    align-self: center;
  }

  @include mq-before(medium) {
    padding: 48px 0;
  }

  &.absolute {
    @include pos($z: 10);
    width: 100%;
  }
}

.page-header {
  padding: 16px 0 40px;
  
  @include mq-after(medium) {
    padding: 0 0 56px;
  }
}