

/** 
 * Layout:
 * Page - Article
 */


.page-articles {
  margin: 40px 0 120px 0;

  .article-preview:not(:last-child) {
    margin-bottom: 80px;
  }

  @include mq-after(1000px) {
    margin-bottom: 200px;
    
    .article-preview:not(:last-child) {
      margin-bottom: 100px;
    }
  }
}

.article-preview {
  .article-title {
    transition: all 80ms;
    margin-bottom: 16px;
  }

  .article-excerpt {
    margin-bottom: 12px;
  }

  .article-more {
    @extend a;
    display: inline-block;
  }

  &:active {
    .article-title {
      color: get-color(brand, main);
    }
  }

  @include mq-hover {
    .article-title:hover {
      color: get-color(brand, main);
      border-color: transparentize(get-color(brand, main), .8);
    }
  }

  @include mq-after(1000px) {    
    .article-title {
      margin-bottom: 24px;
    }

    .article-excerpt {
      margin-bottom: 16px;
    }
  }
}