

/** 
 * Layout:
 * Page - Home
 */


.page-home {
	margin-bottom: 120px;

	.grid-2 {
		grid-template-columns: 4fr 8fr;
	}

	.intro-text {
		margin-top: 200px;
		justify-self: center;

		.content {
			max-width: 586px;
			margin-bottom: 80px;

			p:not(:last-child) {
				margin-bottom: 32px;
			}

			p:not(:first-child) {
				text-indent: 24px;
			}
		}
	}


	@include mq-before(small) {
		.grid-2 {
			grid-template-columns: 1fr;
		}

		.profile-image {
			img {
				max-height: 200px;
			}
		}

		.intro-text {
			margin-top: 0;
			justify-self: start;

			.content {
				max-width: 490px;
				margin-bottom: 40px;

				p:not(:last-child) {
					margin-bottom: 20px;
				}

				p:not(:first-child) {
					text-indent: 16px;
				}
			}
		}
	}
}