
/* Page - Home
   ==================== */

/* Hero */
.hero-home {
	margin: 0 0 100px 0;
	
	.hero-title {
		margin-bottom: 32px;
		max-width: 760px;
	}

	.hero-intro p {
		max-width: 558px;
		margin-bottom: 8px;

		&.body-large {
			margin: 100px 0 24px;
		}
	}

	@include mq-min(850) {
		margin: 0 0 180px 0;
	}

	@include mq-min(1100) {
		.hero-title {
			margin-bottom: 80px;
		}
	}
}