
/* Page - Home
   ==================== */

/* Hero */
.hero-home {
	margin: 0 0 100px 0;
	
	.hero-title {
		margin-bottom: 32px;
	}

	.hero-intro p {
		margin-bottom: 16px;
	}

	@include mq-min(850) {
		margin: 0 0 180px 0;
	}

	@include mq-min(1100) {
		.hero-title {
			margin-bottom: 120px;
		}
	}
}


/* Recent Articles */
.section-projects {
	margin-bottom: 120px;

	.project-image {
		margin-bottom: 40px;
	}

	.project-info {
		max-width: 676px;
		margin: auto;
	}

	.project-title {
		@include flex();
		margin-bottom: 12px;

		.project-name {
			font-weight: 800;

			&::after {
				content: '–';
				display: inline-block;
				margin: 0 12px;
				font-weight: 400;
			}
		}
	}

	@include mq-min(850) {
		margin-bottom: 240px;

		.project-preview {
			margin-bottom: 140px;
		}
	}
}


/* Get In Touch */
.get-in-touch {
	margin-bottom: 64px;

	.section-title {
		margin-bottom: 48px;
	}

	.contact-email {
		margin-bottom: 32px;
	}

	.social-links {
		column-count: 2;

		li {
			margin-bottom: 16px;
		}
	}


	// Desktop rules
	@include mq-min(768) {
		margin-bottom: 180px;

		.section-title {
			margin-bottom: 80px;
		}
		
		.contact-email {
			margin-bottom: 48px;
		}

		.social-links {
			column-count: 1;
		}
	}
}