
/* Page - Article
   ==================== */

.article-full {

  .article-header {
    margin-bottom: 56px;
  }

  .article-timestamp {
    margin-bottom: 32px;
  }

  .article-content {
    margin-bottom: 160px;
  }

  p {
    @extend .body-small;
    margin-bottom: 16px;
  }

  h4 {
    margin: 64px 0 24px;
  }

  figure {
    margin: 48px 0 48px;
  }

  figcaption {
    text-align: center;
    margin-top: 12px;
  }

  .link-back {
    @include flex(flex-start, center);
  
    &::before {
      content: '';
      display: block;
      @include wh(28, 12);
      @include background('icons/icon-arrow-left.svg');
      margin-right: 20px;
    }
  }

	@include mq-min(768) {
    margin-bottom: 200px;

    .article-header {
      margin-bottom: 120px;
    }

    .article-timestamp {
      margin-bottom: 64px;
    }

    p {
      margin-bottom: 24px;
    }

    h4 {
      margin: 80px 0 32px;
    }

    figure {
      width: calc(100% + 324px);
      margin: 100px 0 100px -162px;
    }

    figcaption {
      margin-top: 24px;
    }
	}
}