/** 
 * Layout:
 * Page - Article
 */

// Full Article
.article-full {
  margin-bottom: 200px;

  .article-header {
    @extend .page-header;
  }

  .article-content {
    margin-bottom: 48px;

    p {
      @extend .body-serif;
      margin-bottom: 16px;
    }

    a {
      @extend .link;
    }

    p code,
    li code {
      font-size: 16px;
      font-weight: 600;
      padding: 0 4px;
    }

    h2 {
      @extend .title-2;
      margin: 48px 0 16px;
    }

    h3 {
      @extend .title-3;
      margin: 48px 0 16px;
    }

    h4 {
      @extend .title-4;
      margin: 48px 0 16px;
    }

    figure {
      margin: 48px 0 40px;

      img {
        max-width: none;
        width: calc(100% + 20px);
        margin-left: -10px;
      }
    }

    figcaption {
      text-align: center;
      margin-top: 16px;
    }

    li {
      position: relative;

      a {
        color: get-color(brand, main);
      }

      ul {
        margin: 12px 0 24px;
      }
    }

    ul {
      padding-left: 20px;
      margin-bottom: 28px;

      li {
        @extend .body;
        padding-left: 4px;
        margin-bottom: 12px;

        &:before {
          content: "";
          display: block;
          @include wh(6px);
          background-color: get-color(text, primary);
          border-radius: 6px;
          @include pos-abs(13px, $left: -14px);
        }
      }
    }

    pre {
      background-color: get-color(backgrounds, code-block);
      padding: 20px 24px;
      margin-bottom: 28px;
      overflow: scroll;
    }

    .code-caption {
      @include font(12, 16, 0, $regular, $font-code, get-color(text, secondary));
      background-color: darken(get-color(backgrounds, code-block), 2%);
      padding: 10px 24px;
      text-align: center;
      margin-bottom: 0;
    }

    hr {
      border: none;
      height: 1px;
      background-color: get-color(borders, primary);
      margin: 48px 0;
    }
  }

  .article-footer {
    margin-bottom: 56px;
  }

  .article-date {
    margin-bottom: 24px;
  }

  .article-share {
    display: flex;
  }

  .article-share a {
    display: block;
    @include wh(40px);

    &.share-facebook {
      @include background("buttons/button-share-facebook.svg");
      margin-right: 24px;
    }

    &.share-twitter {
      @include background("buttons/button-share-twitter.svg");
    }
  }

  .article-about {
    padding-top: 64px;
    grid-gap: 24px;
    border-top: 2px solid get-color(borders, primary);
  }

  .article-about img {
    max-width: 166px;
  }

  .article-about p {
    margin-top: 12px;
    max-width: 340px;
  }

  @include mq-after(medium) {
    .article-content {
      margin-bottom: 56px;
      max-width: 630px;

      h2 {
        margin: 72px 0 24px;
      }

      h3 {
        margin: 72px 0 20px;
      }

      figure {
        margin: 48px 0 56px;

        img {
          width: calc(100% + 40px);
          margin-left: -20px;
        }
      }
    }

    .article-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 100px;

      .article-date {
        margin-bottom: 0px;
        order: 2;
      }
    }

    .article-about {
      display: flex;
      align-items: center;

      .content {
        max-width: 340px;
        margin-left: 48px;
      }
    }
  }
}
