<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    {% include header.html %}

    <header class="header-page">
      <div class="container-small">
        <h1 class="title-2 page-title">{{ page.page-title }}</h1>
      </div>
    </header>
    
    <section class="page-content section-articles">
      <div class="container-small">
        <ul class="articles-list">
          {% for post in site.posts %}
            <li class="article-preview">
              <a href="{{ post.url }}">
                {% capture image-path %}
                  {{ post.date | date: "%Y-%m-%d" }}-{{ post.image-dir | slugify }}/{{ post.name }}/image-cover.png
                {% endcapture %}

                {% include image.html type="post-cover" name=image-path %}

                <h2 class="article-title body-large">{{ post.title }}</h2>
              </a>

              <div class="article-details">
                <time>{{ post.date | date: "%B %d, %Y" }}</time>

                <!-- {% if post.categories != empty %}
                  <p class="subtitle category-separator">, in&nbsp;</p>
                
                  <div class="article-categories">
                    {% for category in post.categories %}
                      <a href="/articles/category/{{ category | lowercase }}" class="article-category subtitle">{{ category }}</a>
                    {% endfor %}
                  </div>
                {% endif %} -->
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </section>

    {% include footer.html %}
  </body>
</html>