<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    {% include header.html %}

    <main>
      <section class="intro">
        <div class="container">
          <h1 class="title-2 intro-text">Hey, I’m Vasco! A designer and developer creating things for the digital world, from <span class="location">Lisbon<span class="country body-small">(Portugal)</span></span>.</h1>
        </div>
      </section>
      
      <section class="details">
        <div class="container-small">
          <p>During the day I work in-house at <a href="https://www.hole19golf.com/">Hole19 Golf</a>, and during the night I build my own projects, I code, read, and play around with my old cars.</p>
          
          <p class="body-small">Currently working on</p>
          <p>Building <a href="http://www.mk2swag.com/">Mk2Swag</a>, a side project with the goal of celebrating the passion for old Volkswagens.</p>
          <p>Designing and developing a personal website for my friend Ana Guerra.</p>
          
          <p class="body-small">Get in touch</p>
          <p>Drop me a line at <a href="mailto:hello@byvasco.com">hello@byvasco.com</a>.</p>
          <p>Join me on <a href="https://medium.com/@byvasco" target="_blank">Medium</a> and <a href="https://www.instagram.com/byvasco/" target="_blank">Instagram</a> , view on-going work on <a href="https://dribbble.com/byvasco" target="_blank">Dribbble</a>, and my code on <a href="https://github.com/vascomarques" target="_blank">Github</a>.</p>
        </div>
      </section>
    </main>
  </body>
</html>