<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    {% include header.html %}

    <section class="hero-home">
      <div class="container-small">
        <h1 class="title-1 hero-title">Hey there, I’m Vasco. <br>I design and build things for the digital world, from Lisbon, Portugal.</h1>
      </div>
      
      <div class="container-smaller hero-intro">
        <p class="body-large">During the day, I design in-house at <a href="https://www.hole19golf.com/">Hole19 Golf</a>.</p>
        <p class="body-large">During the night, I’m working on my own projects, coding, and learning new skills.</p>
      </div>
    </section>

    <section class="section-projects">
      <div class="container-small">
        <ul class="projects-list">
          <li class="project-preview">
            <a href="#">
              <figure class="project-image">
                <img src="assets/images/projects/project-mk2swag.png">
              </figure>

              <figcaption class="project-info">
                <div class="project-title">
                  <p class="project-name body-small">Mk2Swag</p>
                  <p class="project-description body-small">A community for Mk2 VW Golf and Jetta enthusiasts.</p>
                </div>

                <p class="subtitle">Self Started</p>
              </figcaption>
            </a>
          </li>

          <li class="project-preview">
            <a href="#">
              <figure class="project-image">
                <img src="assets/images/projects/project-mk2swag.png">
              </figure>

              <figcaption class="project-info">
                <div class="project-title">
                  <p class="project-name body-small">Ana Guerra</p>
                  <p class="project-description body-small">A personal website.</p>
                </div>

                <p class="subtitle">Design + Development</p>
              </figcaption>
            </a>
          </li>

          <li class="project-preview">
            <a href="#">
              <figure class="project-image">
                <img src="assets/images/projects/project-mk2swag.png">
              </figure>

              <figcaption class="project-info">
                <div class="project-title">
                  <p class="project-name body-small">Amore</p>
                  <p class="project-description body-small">Animal sanctuary and recovery center.</p>
                </div>

                <p class="subtitle">Design + Development</p>
              </figcaption>
            </a>
          </li>
        </ul>
      </div>
    </section>

    <section class="get-in-touch">
      <div class="container-small">
        <h2 class="title-2 section-title">Get in touch</h2>
      </div>

      <div class="container-smaller">
        <p class="body-large contact-email">Feel free to email me at <a href="mailto:hello@byvasco.com">hello@byvasco.com</a></p>

        <ul class="social-links">
          <li><a href="https://dribbble.com/byvasco" target="_blank" class="link-large">Dribbble</a></li>
          <li><a href="https://medium.com/@byvasco" target="_blank" class="link-large">Medium</a></li>
          <li><a href="https://www.instagram.com/byvasco/" target="_blank" class="link-large">Instagram</a></li>
          <li><a href="https://github.com/vascomarques" target="_blank" class="link-large">Github</a></li>
        </ul>
      </div>
    </section>
  </body>
</html>