<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    {% include header.html %}

    <section class="hero-home">
      <div class="container-small">
        <h1 class="title-1 hero-title">Hey there, I’m Vasco. I create things for the digital world.</h1>
      </div>
      
      <div class="container-smaller hero-intro">
        <p>During the day I work in-house at <a href="https://www.hole19golf.com/">Hole19 Golf</a>, helping to create the best platform and tools for golfers to use. During the night, I build my own projects, I code and learn new skills.</p>
        <p class="body-large">Working on</p>
        <p>Building <a href="http://www.mk2swag.com/">Mk2Swag</a>, a community with the goal of celebrating the passion for old VW’s.</p>
        <p>Designing and developing a personal website for my friend <a href="#">Ana Guerra</a>.</p>
        
        <p class="body-large">I'm also</p>
        <p>Learning Wordpress theme development.</p>
        <p>Reading <a href="https://www.goodreads.com/book/show/13589182-mastery">Mastery</a>, by Robert Greene.</p>
        
        <p class="body-large">Get in touch</p>
        <p>Drop me a line at <a href="mailto:hello@byvasco.com">hello@byvasco.com</a>.</p>
        <p>Join me on <a href="https://medium.com/@byvasco" target="_blank">Medium</a> and <a href="https://www.instagram.com/byvasco/" target="_blank">Instagram</a> , view on-going work on <a href="https://dribbble.com/byvasco" target="_blank">Dribbble</a>, and my code on <a href="https://github.com/vascomarques" target="_blank">Github</a>.</p>
      </div>
    </section>
  </body>
</html>